<div data-sly-use.model="com.adobe.aem.guides.foodland.core.models.HeroComponentModel">
    <h2 class="cmp-allCategories__title">${model.title}</h2>
    <div>
        <button data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button"
        data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
            data-sly-element="${button.link ? 'a' : 'button'}"
            type="${button.link ? '' : 'button'}"
            class="cmp-button"
            href="${button.link}"
            aria-label="${button.accessibilityLabel}"
            data-cmp-clickable="${button.data ? true : false}">
            <span  class="cmp-button__text">All Categories</span>
        </button>
    </div>
    <div class="cpm-category_comp">
        <sly  data-sly-resource="${'nome do componente' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>
</div>