.cmp-allCategories__title{
    margin: 10px;
}
.cmp-button{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
.cpm-category_comp{
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap;
}