<div class="cmp-learnMore"
    data-sly-use.model="com.adobe.aem.guides.foodland.core.models.LearnMoreComponentModel">

    <div class="cmp-learnMore__item">

        <h2 class="cmp-learnMore__title">${model.title}</h2>
        <p class="cmp-learnMore__text">${model.text}</p>

        <div>
            <button data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button"
                data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
                data-sly-element="${button.link ? 'a' : 'button'}" type="${button.link ? '' : 'button'}"
                class="cmp-button" href="${button.link}" aria-label="${button.accessibilityLabel}"
                data-cmp-clickable="${button.data ? true : false}">
                <span class="cmp-button__text">Learn More</span>
            </button>
        </div>

    </div>

    <img class="cmp-learnMore__image" data-sly-test="${model.imageReferecne}" src="${model.imageReferecne}" alt="">

</div>